* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  background: linear-gradient(
    to left top,
    rgb(141, 141, 197),
    rgb(212, 125, 125)
  );
  min-height: 100vh;
}

main {
  max-width: 800px;
  width: 100%;
  margin: 2.5rem auto;
  /* border: 1px solid black; */
}

h1 {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

.grid-items {
  border: 0.1rem solid gray;
  font-size: 2rem;
  background-color: white;
  position: relative;
}

#box1,
#box2,
#box3,
#box4,
#box5,
#box8,
#box9,
#box10,
#box11 {
  border-left: 0.5rem solid black;
}

#box1,
#box2,
#box3,
#box4,
#box5,
#box8,
#box9,
#box10,
#box11 {
  border-bottom: 0.5rem solid black;
}

.prompt {
  position: absolute;
  top: 0%;
  left: 0%;
}
